body {
    background-color: #03355466;
}

.custom-file-input {
    background-color: #f8f9fa;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px dashed #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.custom-file-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px dashed #033554;
    padding: 2em;
    margin-top: 1em;
    width: -webkit-fill-available;
}

td {
    min-width: 180px !important;
}

/* Add this in your CSS file */

/* Style the button */
.custom-btn {
    padding: 0.25em 0.4em;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
}

/* Style the arrow icon */
.ico {
    font-size: 0.8em;
    /* reduce the size of the icon */
}

.scroll-visible {
    overflow-y: scroll;
}

.scroll-hidden {
    overflow-y: hidden;
}



::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.wrapper-class {
    max-height: 400px;
    border: 1px solid #ccc;
    background-color: aliceblue;
}

.dataTables_length {
    padding: 0.4em 2px;
}

/* Change the font-family */
table.dataTable {
    font-family: Arial, sans-serif;
}

/* Change the color of the table header */
table.dataTable thead th {
    background-color: #5993b3;
    color: #fff;
}

/* Change the color of odd rows */
table.dataTable tr.odd {
    background-color: #f2f2f2;
}

/* Change the color of even rows */
table.dataTable tr.even {
    background-color: #ffffff;
}

/* Change the color of selected rows */
table.dataTable tr.selected {
    background-color: #b0bed9;
}